<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#Top_Category" role="tab" aria-controls="Top_Category" aria-selected="true">Top Category</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#Top_Competition" role="tab" aria-controls="Top_Competition" aria-selected="false">Top Competition</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="Top_Category" role="tabpanel" aria-labelledby="Top_Category-tab">Top Category</div>
  <div class="tab-pane fade" id="Top_Competition" role="tabpanel" aria-labelledby="Top_Competition-tab">Top Competition</div>
</div>