<div class="content_news">
    <div class="title font-weight-bold">
        {{data.title}}
    </div>
    <ng-template [ngIf]="!data.photo">
        <div class="content">
            {{data.description}}
        </div>
    </ng-template>
    <ng-template [ngIf]="data.photo">
        <div class="content">
            <img src="http://127.0.0.1:8000{{data.photo}}">
            <div clss="text font-weight-normal">{{data.description}}</div>
        </div>
    </ng-template>
    <blockquote class="blockquote text-right">
        <footer class="blockquote-footer">{{data.author}} <cite title="Source Title">{{data.created | date }}</cite></footer>
    </blockquote>
</div>