/* custom setings */ 
$custom_a_color:rgb(1, 6, 37);
$custom_a_color_haver:rgb(15, 161, 161);

/* navbar */
$navbarColor:rgb(138, 64, 64);
$navbar_Brand:rgba(255, 255, 255, 0.8);
$navbar_Brand_text:rgba(205, 230, 235, 0.8);
$btm_Font:#070707;
$btm_background-color:blueviolet;
$btm_border-color:aqua;
$navbar-nav-link:rgb(170, 198, 214);
$navbar-nav-active:rgb(39, 202, 202);
$navbar-nav-hover: $custom_a_color_haver;
/* ontop */
$ontop-margin-top:1.5rem;
$ontop-margin-bottom:1.5rem;
$ontop-padding:5px;
$ontop-background-color:rgb(10, 5, 5);
$ontop-title-background-color:rgba(0, 0, 0, 0.472);
/* ontop main */
$ontop-mian-title-border:2px solid red;
$ontop-mian-title-background-font-color:white;
$ontop-mian-title-background-padding:20px;
$ontop-mian-widt:740px;
$ontop-mian-height:300px;
$ontop-maian-transform:.5s;
$ontop-maian-transform-scale:scale(1.01);
/* ontop taps */
$ontop-tops-transform-scale:scale(1.01);
$ontop-tops-transform:.5s;
$ontop-tops-width:345px;
$ontop-tops-height:130px;
$ontop-tops-img-margin-top:17px;
$ontop-tops-title-padding:5px;
$ontop-title-background-color-hover:rgb(124, 6, 6);
$ontop-mian-title-border_hover:2px solid white;

/* start component */
$start_section_margin_bottom:25px;
$start_section_border-top: 2px solid rgb(85, 4, 4);

/* section */
$transition_content_mian:.5s;
/* ontop header */
$heder_show_all_in_category_color:rgb(3, 6, 194);
$heder_show_all_in_category_color_hover:rgb(3, 6, 194);
/* ontop $content*/
$content_main_img_width:200px;
$content_main_img_height:200px;
$content_main_img_margin-top:200px;
$content_main_transition:1s;
$content_main_title_color:white;
$content_main_title_color_hover:rgb(241, 230, 230);
$content_main_title_color_background:rgba(0, 0, 0, 0.472);
$content_main_title_color_background_hover:rgb(124, 6, 6);
$content_main_transform-scale:scale(1.05);

$content_news_list_section_line-height:35px;

