/* navbar */
$navbarColor:rgb(195, 87, 87);
$navbar_Brand:rgba(235, 240, 234, 0.8);
$navbar_Brand_text:rgba(47, 133, 30, 0.8);
$btm_Font:#070707;
$btm_background-color:blueviolet;
$btm_border-color:aqua;
$navbar-nav-link:rgba(185, 153, 189, 0.5);
$navbar-nav-active:rgba(185, 153, 189, 0.5);
$navbar-nav-hover: rgb(172, 194, 73);