/* navbar */
$navbarColor:rgb(195, 87, 87);
$navbar_Brand:rgba(235, 240, 234, 0.8);
$navbar_Brand_text:rgba(47, 133, 30, 0.8);
$btm_Font:#070707;
$btm_background-color:blueviolet;
$btm_border-color:aqua;
$navbar-nav-link:rgba(185, 153, 189, 0.5);
$navbar-nav-active:rgba(185, 153, 189, 0.5);
$navbar-nav-hover: rgb(172, 194, 73);
/* ontop */
$ontop-margin-top:1.5rem;
$ontop-padding:5px;
$ontop-background-color:rgb(10, 5, 5);
$ontop-shoodow:10px 6px 5px 0px rgba(0,0,0,0.75);
$ontop-title-background-color:rgba(0, 0, 0, 0.472);
/* ontop main */
$ontop-mian-title-border:2px solid red;
$ontop-mian-title-background-font-color:white;
$ontop-mian-title-background-padding:20px;
$ontop-mian-widt:740px;
$ontop-mian-height:300px;
$ontop-maian-transform:.5s;
$ontop-maian-transform-scale:scale(1.01);
/* ontop taps */
$ontop-tops-transform-scale:scale(1.01);
$ontop-tops-transform:.5s;
$ontop-tops-width:345px;
$ontop-tops-height:130px;
$ontop-tops-img-margin-top:17px;
$ontop-tops-title-padding:5px;