@import "../../../../styles.scss";
.header{
    .title{
        font-weight: bold;
    }
    .title::first-letter{
        text-transform: uppercase
    }
    .show_all_in_category{
        a{
            color: $heder_show_all_in_category_color;
        }
        a:hover{
            color:$heder_show_all_in_category_color_hover;
            text-decoration: none;
        }
    }
}
.content{
    .main{
        transition: $content_main_transition;
        position: relative;
        img{
            margin-top: 10px;
            width: $content_main_img_width;
            height: $content_main_img_height;
        }
        .title{
            position: absolute;
            bottom: 0;
            width: $content_main_img_width;
            font-size: 15px;
            background-color: $content_main_title_color_background; 
            text-align: center;
            a{
                color: $content_main_title_color;
            }
        }
        &:hover{
            transform: $content_main_transform-scale;
            .title{
                background: $content_main_title_color_background_hover;
                a{
                    color:$content_main_title_color_hover;
                }
            }
        }
    }
    .news_list_section{
        .news_list{
            line-height: $content_news_list_section_line-height;
            li{
                a{
                    color: $content_news_list_section_color;
                }
                a:hover{
                    color:$content_news_list_section__color_hover;
                    text-decoration: none;
                }
            }
        }
    }
}