<div class="header">
    <div class="row">
        <div class="col-5 title">
            {{category}}
        </div>
        <div class="col-7 show_all_in_category">
            <a routerLink="/show_all_news/{{category}}">shaw all in category {{category}}</a>
        </div>
    </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-5 main">
            <img src="http://127.0.0.1:8000{{mian.photo}}">
            <div class="title">
                <a>{{mian.title}}</a>
            </div>
        </div>
        <div class="col-7 news_list_section">
            <div class="news_list" *ngFor="let el of news;">
                <li *ngIf="el.id != mian.id"><a href="#">{{el.title}}</a></li>
            </div>
        </div>
    </div>    
</div>