<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand">All news in {{category}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <span *ngFor="let el of competitions">
                    <li class="nav-item" *ngIf="el.popular">
                        <a class="nav-link" href="show_all_news_in_compettions/{{el.name}}">{{el.name}}</a>
                    </li>
                </span>
                <span *ngIf="competitions.length>0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More Competitions
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <span *ngFor="let el of competitions">
                                <a class="dropdown-item" href="show_all_news_in_compettions/{{el.name}}" *ngIf="!el.popular">{{el.name}}</a>
                            </span>
                        </div>
                    </li>
                </span>
            </ul>
        </div>
    </div>
</nav>
