@import "../../../../styles.scss";
.ontop{
    margin-top: $ontop-margin-top;
    margin-bottom: $ontop-margin-bottom;
    box-sizing: content-box;
    padding: $ontop-padding;
    position: relative;
    .main{
        transition: transform $ontop-maian-transform;
        img{
            width: $ontop-mian-widt;
            height: $ontop-mian-height;
        }
        .title{
            position: absolute;
            bottom: 0;
            width: $ontop-mian-widt;
            padding: $ontop-mian-title-background-padding;
            border-top: $ontop-mian-title-border;
            background-color: $ontop-title-background-color; 
            a{
                color: $ontop-mian-title-background-font-color;
            }
        }
        &:hover{
            transform: $ontop-tops-transform-scale;
            .title{
                border-top: $ontop-mian-title-border_hover;
                background: $ontop-title-background-color-hover;
            }
        }
    }

    .tops{
        .item{
            transition: $ontop-tops-transform;
            position: relative;
            img{
                margin-top: $ontop-tops-img-margin-top;
                width: $ontop-tops-width;
                height: $ontop-tops-height;
            }
            .title{
                position: absolute;
                bottom: 0;
                width: $ontop-tops-width;
                padding: $ontop-tops-title-padding;
                background-color: $ontop-title-background-color; 
                a{
                    color: $ontop-mian-title-background-font-color;
                }
            }
            &:hover{
                transform: $ontop-tops-transform-scale;
                .title{
                    background: $ontop-title-background-color-hover;
                }
            }
        }
    }
}