<!--
<div *ngFor="let el of news;">
    {{el.title}}
</div>
-->
<div class="ontop">
    <div class="row">
        <div class="col-8 main">
            <img src="http://placekitten.com/740/300">
            <div class="title">
                <a>Lorem ipsum dolor</a>
            </div>
        </div>
        <div class="col-4 tops">
            <div class="item">
                <img src="http://placekitten.com/740/300">
                <div class="title">
                        <a>Lorem ipsum dolor</a>
                    </div>
            </div>
            <div class="item">
                <img src="http://placekitten.com/740/300">
                <div class="title">
                    <a>Lorem ipsum dolor</a>
                </div>
            </div>
        </div>
    </div>
</div>