<div class="ontop">
    <div class="row">
        <div class="col-8 main">
            <img src="{{mian.photo}}">
            <div class="title">
                <a>{{mian.title}}</a>
            </div>
        </div>
        <div class="col-4 tops">
            <span *ngFor="let el of news;">
                <div class="item" *ngIf="!el.ontop">
                    <img src="{{el.photo}}">
                    <div class="title">
                        <a>{{el.title}}</a>
                    </div>
                </div>
            </span>
        </div>
    </div>
</div>