<div class="container">
    <app-ontop></app-ontop>
    <div class="row section">
        <div class="col-6">
            <app-sections category="soccer"></app-sections>
        </div>
        <div class="col-6">
            <app-sections category="basketball"></app-sections>
        </div>
    </div>
    <div class="row section">
        <div class="col-6">
            <app-sections category="volleyball"></app-sections>
        </div>
        <div class="col-6">
            <app-sections category="hockey"></app-sections>
        </div>
    </div>
</div>


