<div class="container">
    <app-ontop></app-ontop>
    <div class="row section">
        <div class="col-6">
            <app-sections category="soccer"></app-sections>
        </div>
        <div class="col-6">
            <app-sections category="basketball"></app-sections>
        </div>
    </div>
    <div class="row section">
        <div class="col-6">
            <app-sections category="volleyball"></app-sections>
        </div>
        <div class="col-6">
            <app-sections category="hockey"></app-sections>
        </div>
    </div>
    <!--
    <app-sections category="soccer"></app-sections>
    <app-sections category="vleyball"></app-sections>
    <app-sections category="ice hocey"></app-sections>
    <app-sections category="football"></app-sections>
    <app-sections category="basebool"></app-sections>
    -->
</div>


