
<app-show-all-news-in-compettions-navbar id="{{news.Competition.id}}" ></app-show-all-news-in-compettions-navbar>
<div class="container">
    <div class="row">
        <div class="col-8">
            <app-content-section data="{{news_jason}}"></app-content-section>
        </div>
        <div class="col-4">
            <app-on-top-in-category Competition_id="{{news.Competition.id}}" Category_id="{{news.Competition.id}}"></app-on-top-in-category>
        </div>
    </div>
    <div class="row">
        <app-coments id="{{news.id}}"></app-coments>
    </div>
</div>



